body {
    font-family: 'Poppins', sans-serif;
}

/*HEADER CSS*/

.main-nav {
    background-color: #1E7D4F; 
    padding: 22px 0; 
}

.brand, .nav-link-custom {
    color: white !important;
    transition: color 0.3s ease-in-out;
}

.brand {
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-left: 20px; 
    font-weight: 600;
}

.nav-list .nav-item .nav-link-custom {
    margin-right: 20px;
    position: relative;
    padding: 0 0.5rem; 
    transition: color 0.5s ease-in-out; 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.nav-list .nav-item .nav-link-custom::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out; 
}

.nav-list .nav-item .nav-link-custom:hover {
    color: lightgreen !important;
    text-decoration: none; 
}

.nav-list .nav-item .nav-link-custom:hover::after {
    width: 100%;
}

h1 {
    font-size: 75px;
    color: #333;
    padding: 40px;
    font-weight: bold;
}

.book-session-paragraph {
    padding-bottom: 25px;
}

.booking-container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 50px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px; 
    border: 2px solid #1E7D4F; 
}

.booking-container label {
    font-weight: bold; 
    display: block;
    margin-bottom: 10px; 
}

.booking-container input,
.booking-container textarea {
    width: 100%;
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.booking-container textarea {
    height: 150px; 
}

.btn-green {
    background-color: #1E7D4F;
    color: white;
}

.btn-green:hover {
    background-color: white;
    color: #1E7D4F;
    border: 2px solid #1E7D4F;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover {
    background-color: #1E7D4F;
    border-color: #1E7D4F;
}

.timepicker-picker .btn-primary {
    background-color: #1E7D4F;
    border-color: #1E7D4F;
}

/* Time Picker */
.timepicker-picker {
    width: 100%;
}

/* Calendar Format */
.datepicker-dropdown {
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.datepicker table {
    width: 100%;
}

.datepicker table thead tr:first-child th {
    border-top: none;
}

.datepicker table th,
.datepicker table td {
    text-align: center;
}

.datepicker table th {
    padding: 5px 0;
    font-weight: bold;
}

.datepicker table td {
    padding: 10px 0;
}

.datepicker table td.day:hover,
.datepicker table td.day.focused {
    background-color: #f0f0f0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Error Modal */
#errorModal .modal-content {
    background-color: #ffcccc; /* Bright red */
}

/* FOOTER CSS*/

.footer {
    background-color: #1E7D4F; 
    padding: 20px 0; 
    font-family: 'Poppins', sans-serif;
}

.footer .social-media a {
    color: white;
    font-size: 1.5rem;
    margin-right: 15px; 
    text-decoration: none;
    transition: transform 0.5s ease-in-out; 
}

.footer h5 {
    font-weight: bold;
    margin-bottom: 1.25rem; 
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
    display: block; 
    padding: 3px 0; 
}

.footer ul li a:hover {
    transform: scale(1.05); 
}

.scaled-element {
    transform: scale(1.05);
    margin-bottom: 20px; 
}

.img-fluid{
    width: 30px;
    height: 30px;
}

.youtube{
    padding-top: 7px;
    width: 40px;
    height: 43px;
}

.map-image{
    width: 300px;
    height: 200px;
}