body {
    font-family: 'Poppins', sans-serif;
}

/*HEADER CSS*/

.main-nav {
    background-color: #1E7D4F; /* Darker green */
    padding: 22px 0; /* Increase padding to increase navbar height */
}

.brand, .nav-link-custom {
    color: white !important;
    transition: color 0.3s ease-in-out;
}

.brand {
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-left: 20px; 
    font-weight: 600;
}

.nav-list .nav-item .nav-link-custom {
    margin-right: 20px;
    position: relative;
    padding: 0 0.5rem; /* Adjust padding to keep spacing consistent */
    transition: color 0.5s ease-in-out; /* Add transition for color */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.nav-list .nav-item .nav-link-custom::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out; 
}

.nav-list .nav-item .nav-link-custom:hover {
    color: lightgreen !important;
    text-decoration: none; 
}

.nav-list .nav-item .nav-link-custom:hover::after {
    width: 100%;
}

/*BODY CSS*/

.intro{
    background-image: url("https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=1356&h=668&fit=crop");
    height: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    padding-top: 90px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    background-blend-mode: darken;
}

h2{
    color: white;
    font-size: 65px;
    padding-bottom: 25px;
}

.btn{
    width: 50%;
    background-color: #1E7D4F;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
}

.btn:hover{
    background-color: white;
    color: #1E7D4F;
}

.information{
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    padding: 40px 0;
}

.info-heading{
    padding-top: 30px;
    color: black;
    font-size: 50px;
}

.info-heading-text{
    padding: 50px;
    font-size: 30px;
}

.our-process{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E7D4F;
    padding: 30px 0;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px; /* Add padding to create space on the sides */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    width: 18rem;
    margin: 10px;
    padding-top: 30px;
}

#op{
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Ensures the image covers the entire container without stretching */
    margin-bottom: 10px; /* Add some space below the image if needed */
}

.card-text{
    text-align: center;
}

/* FOOTER CSS*/

.footer {
    background-color: #1E7D4F; /* Green background color */
    padding: 20px 0; /* Add some padding to the footer */
    font-family: 'Poppins', sans-serif;
}

.footer .social-media a {
    color: white;
    font-size: 1.5rem;
    margin-right: 15px; /* Increase margin to add more space between icons */
    text-decoration: none;
    transition: transform 0.5s ease-in-out; /* Add transition for scaling effect */
}

.footer h5 {
    font-weight: bold;
    margin-bottom: 1.25rem; /* Increase margin to add more space below headings */
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
    display: block; 
    padding: 3px 0; 
}

.footer ul li a:hover {
    transform: scale(1.05); 
}

.scaled-element {
    transform: scale(1.05);
    margin-bottom: 20px; 
}

.img-fluid{
    width: 30px;
    height: 30px;
}

.youtube{
    padding-top: 7px;
    width: 40px;
    height: 43px;
}

.map-image{
    width: 300px;
    height: 200px;
}